/*--------------------------------------------------------------------------------------------------
//= Common
//------------------------------------------------------------------------------------------------*/

html, body
{
	width: 100%;
	height: 100%;
	min-width: calc(480px + 12px);
	color: #333;
	margin: 0;
	padding: 0;
	font-family: 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	font-size: 12px;
}

body
{
	border-top: 1px solid #ccc;
	box-sizing: border-box;
}