/*--------------------------------------------------------------------------------------------------
//= Setting
//------------------------------------------------------------------------------------------------*/

/* Setting */
#Setting
{
	width: 0;
	height: 0;
	opacity: 0;
	position: fixed;
	top: 5%;
	left: 5%;
	right: 5%;
	bottom: 5%;
	z-index: 1000;
	background: #fff;
	overflow-y: scroll;
	overflow-x: hidden;
}
#Setting.Show
{
	border: 1px solid #ccc;
	box-sizing: border-box;
	opacity: 1;
	background: #fff;
	position: fixed;
	display: block;
	width: 90%;
	height: 90%;
	padding: 24px;
	border-radius: 1px;
}

/* GroupBox */
#Setting fieldset
{
	margin-bottom: 12px;
	border: 2px solid #ccc;
	border-radius: 2px;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.1);
}
#Setting fieldset fieldset
{
	margin: 0;
}

/* UserName & Password */
#Setting #UserName input[type=text],
#Setting #Password input[type=password]
{
	max-width: 320px;
}

/* TextInput */
#Setting input[type=text],
#Setting input[type=password]
{
	width: 100%;
	box-sizing: border-box;
	padding: 2px 8px;
	outline: none;
	border: 2px solid #ccc;
	border-radius: 2px;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.1);
	transition: all .2s ease;
}
#Setting input[type=text]:hover,
#Setting input[type=password]:hover
{
	border: 2px solid #bbd2e2;
}

/* Paragraph */
#Setting fieldset p
{
	margin: 8px;
}

/* Header */
#Setting fieldset p span.Head
{
	text-align: right;
	display: inline-block;
	width: 128px;
}

/* Content */
#Setting fieldset p span.Content
{
	box-sizing: border-box;
	text-align: left;
	display: inline-block;
}

/* Checkbox & Radiobutton */
input[type='checkbox'],
input[type='radio']
{
	vertical-align: middle;
}
label, input[type='checkbox'],
label, input[type='radio']
{
	cursor: pointer;
}

/* CloseButtons */
#CloseButtons
{
}
#CloseButtons span
{
	width: 96px;
	padding: 4px 0;
	border-radius: 2px;
	display: inline-block;
	border: 2px solid #ccc;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	text-decoration: none;
	transition: opacity .2s ease;
	cursor: pointer;
}
#CloseButtons span:hover
{
	opacity: 0.8;
}
#CloseButtons #OKButton
{
	background: #2980b9;
	color: #fff;
}
#CloseButtons #CancelButton
{
	background: #ecf0f1;
}